
<div mat-dialog-title class="header">
  <h1>Student Form</h1>
</div>
<form [formGroup]="studentForm">
<div mat-dialog-content class="content">
<div class="row">
  <mat-form-field appearance="outline">
    <mat-label>First Name</mat-label>
    <input matInput type="text" placeholder="Ex. Wali" formControlName="firstName">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Last Name</mat-label>
    <input matInput type="text" placeholder="EX. Murtaza" formControlName="lastName">
  </mat-form-field>
</div>
<div class="row">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput type="email" placeholder="Ex. test@gmail.com" formControlName="email">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Date Of Birth</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="dob">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
<div class="row">
  <mat-radio-group aria-label="Select an option" formControlName="gender">
    <mat-label><b>Gender</b></mat-label>
    <mat-radio-button value="male">Male</mat-radio-button>
    <mat-radio-button value="female">Female</mat-radio-button>
    <mat-radio-button value="others">Others</mat-radio-button>
  </mat-radio-group>
</div>
<div class="row mt-3">
  <mat-form-field appearance="outline">
    <mat-label>Select Degree</mat-label>
    <mat-select formControlName="degree">
        <mat-option *ngFor="let val of degree" [value]="val">{{val}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Select Semester</mat-label>
    <mat-select formControlName="semester">
        <mat-option *ngFor="let value of semester" [value]="value">{{value}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="row">
  <mat-form-field appearance="outline">
    <mat-label>CNIC</mat-label>
    <input matInput type="text" placeholder="_____-_______-_" formControlName="cnic">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Father Name</mat-label>
    <input matInput type="text" placeholder="Ex. Rasheed" formControlName="fatherName">
  </mat-form-field>
</div>
<div class="row">
  <mat-form-field appearance="outline">
    <mat-label>Phone Number</mat-label>
    <input matInput type="text" placeholder="____-_______" formControlName="phone">
  </mat-form-field>

</div>
</div>
<div mat-dialog-action>
  <button mat-raised-button style="margin-left: 25px; width: 40%;margin-bottom: 10px;" (click)="closeDialog()">Cancel</button>
  <button mat-raised-button style="margin-left: 10px;width: 40%;margin-bottom: 10px;" (click)="onSubmit()" color="primary">{{data? 'Update':'Save'}}</button>
</div>
</form>
